<nav id="sidebar" class=" text-light">
  <div class="sidebar-header text-light">
    <h3>Task Manager</h3>
  </div>
  <ul class="list-unstyled components">
    <!-- <li>
      <a routerLink="/admin/products"
        ><i class="fas fa-list"></i>&nbsp;Products</a
      >
    </li> -->
    <li>
      <a routerLink="/admin/create-task">
        <i class="fas fa-tasks"></i>&nbsp;Tasks</a
      >
    </li>
    <li>
      <a routerLink="/admin/users"> <i class="fas fa-user"></i>&nbsp;Users</a>
    </li>

    <li>
      <a routerLink="/admin/manage-role">
        <i class="fas fa-thumbtack"></i>&nbsp;Roles</a
      >
    </li>

    <li>
      <a routerLink="/admin/manage-status">
        <i class="fas fa-sync-alt"></i>&nbsp;Status</a
      >
    </li>
    <li>
      <a routerLink="/admin/manage-priority">
        <i class="fas fa-dot-circle"></i>&nbsp;Priority</a
      >
    </li>
  </ul>
</nav>
