<section class="mt-3">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12 text-right mb-3">
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          class="btn btn-primary"
        >
          Add Task
        </button>
      </div> -->

      <!-- modal starts here  -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                {{ title }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="updateTaskStatus()">
                <div class="form-group">
                  <label for="exampleInputEmail1">Status</label>
                  <select [formControl]="name" class="form-control">
                    <option selected disabled>Update Status</option>
                    <option
                      *ngFor="let status of allstatus"
                      [value]="status.name"
                      >{{ status.name }}</option
                    >
                  </select>
                </div>

                <div class="form-group">
                  <button class="btn btn-primary" type="submit">
                    Update User
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- modal ends here  -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-4">
          <table class="table table-striped table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">User</th>
                <th scope="col">Role</th>
                <th scope="col">Date Assigned</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks; index as i">
                <th scope="row"></th>
                <td>{{ task.title }}</td>
                <td>
                  <div class="badge badge-primary p-1">{{ task.status }}</div>
                </td>
                <td>{{ task.user.name }}</td>
                <td>{{ task.role.name }}</td>
                <td>{{ task.createdDate | date }}</td>
                <td>
                  <button
                    class="btn btn-info btn-sm"
                    type="button"
                    (click)="initUpdate(task)"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                  >
                    Update
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
