@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.bg-primary,
.btn-primary,
.badge-primary {
  background-color: #2388c5 !important;
}

.btn {
  border: 0px !important;
}

* {
  font-family: 'Quicksand',
    sans-serif;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #2388c5;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  background: #2388c5;
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  height: 100%;
  overflow-x: auto;
}

#sidebar.active {
  margin-left: -250px;
}

.components li>a {
  font-size: 1rem;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2388c5;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.5;
  display: block;
  word-spacing: .5rem;
}

#sidebar ul li a:hover {
  color: #fff;
  background: rgba(2, 58, 93, 0.5)
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: rgba(2, 58, 93, 0.5)
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  /* font-size: 0.9em !important; */
  padding-left: 40px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

#content {
  width: 100%;
  padding: 20px;
  min-height: 80vh;
  transition: all 0.3s;
  background-color: #f2f4f8 !important;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}
