<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-right mb-3">
        <button
          (click)="initCreate()"
          type="button"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          class="btn btn-primary"
        >
          Add Task
        </button>
      </div>

      <!-- modal starts here  -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">
                {{ title }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="taskForm">
                <div class="form-group">
                  <label for="exampleInputEmail1">Title</label>
                  <input
                    formControlName="title"
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Role</label>
                  <select class="form-control" formControlName="role">
                    <option *ngFor="let role of roles" [value]="role._id">{{
                      role.name
                    }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Priority</label>
                  <select class="form-control" formControlName="priority">
                    <option
                      *ngFor="let priority of priorities"
                      [value]="priority._id"
                      >{{ priority.name }}</option
                    >
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Description</label>
                  <textarea
                    formControlName="description"
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                  ></textarea>
                </div>

                <div class="form-group">
                  <div *ngIf="!edit; else showUpdate">
                    <button
                      (click)="addTask()"
                      class="btn btn-primary"
                      type="submit"
                    >
                      <span
                        *ngIf="addLoad"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Add Task
                    </button>
                  </div>
                  <ng-template #showUpdate>
                    <button
                      (click)="updateTaskData()"
                      class="btn btn-primary"
                      type="submit"
                    >
                      <span
                        *ngIf="updateLoad"
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      Update Task
                    </button>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- modal ends here  -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card p-4">
          <div *ngIf="isLoad; else finished">
            <app-loader></app-loader>
          </div>

          <ng-template class="table-responsive" #finished>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assigned Resource</th>
                    <th scope="col">Description</th>
                    <th scope="col">Role</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Time Created</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">Complete Date</th>
                    <th scope="col">Complete Time</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ task.title }}</td>
                    <td>
                      <div class="badge badge-primary p-1">
                        {{ task.status }}
                      </div>
                    </td>
                    <td>{{ task.user.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.role.name }}</td>
                    <td>{{ task.priority.name }}</td>
                    <td>{{ task.createdDate | date: "h:mm:ss:a" }}</td>
                    <td>{{ task.createdDate | date }}</td>
                    <td>
                      {{
                        task.startDate === null
                          ? "Yet To Start"
                          : (task.startDate | date)
                      }}
                    </td>
                    <td>
                      {{
                        task.startDate === null
                          ? "Yet To Be Completed"
                          : (task.startDate | date: "h:mm:ss:a":"GMT+1")
                      }}
                    </td>
                    <td>
                      {{
                        task.completeDate === null
                          ? "Yet To Be Completed"
                          : (task.completeDate | date)
                      }}
                    </td>
                    <td>
                      {{
                        task.completeDate === null
                          ? "Yet To Be Completed"
                          : (task.completeDate | date: "h:mm:ss:a":"GMT+1")
                      }}
                    </td>
                    <!-- <td>
                      {{
                        task.startDate === null
                          ? "Yet To Start"
                          : (task.startDate | date)
                      }}
                    </td>
                    <td>
                      {{
                        task.completeDate === null
                          ? "Yet To Be Completed"
                          : (task.completeDate | date)
                      }}
                    </td> -->

                    <td>
                      <button
                        class="btn btn-danger btn-sm mr-2"
                        (click)="deleteTask(task._id)"
                      >
                        Delete
                      </button>
                      <button
                        class="btn btn-info btn-sm"
                        type="button"
                        (click)="initUpdate(task)"
                        data-toggle="modal"
                        data-target="#exampleModalCenter"
                      >
                        Edit
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
